.navbar-block{
  margin-top: 20px;
  float: right;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.mt-20{
  margin-top: 20px;
}

.mt-40{
  margin-top: 40px;
}

.mt-60{
  margin-top: 60px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-60{
  margin-bottom: 60px;
}

.bg-light-grey{
  background-color: #f4f4f4;
}

.div-center{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.high_light_header{
  width: fit-content;
  background-color: #ED1C24;
  text-align: center;
  border-radius: 4px;
  color: white;
  padding: 0.375rem 2.25rem;
}

.main_header{
  transform: translate(0px, 0px);
  z-index: 1030;
  position: fixed;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  transition: 0.4s; 
  padding: 20px 20px;
}

.headBodyWrapper{
  height: 100vh;
  overflow: hidden;
  clear: both;
}

.headBodyWrapperSub{
  height: 600px;
  overflow: hidden;
  clear: both;
}

.headerImageWrapper{
  height: 100vh;
  overflow: hidden;
  clear: both;
}

.headerSliderImage{
  position: absolute !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerSliderImageSub{
  position: absolute !important;
  width: 100%;
  object-fit: cover;
}

.headerTextContent{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.home-custom-dot-inactive, .home-custom-dot-active{
  border:0px;
  height:4px;
  width:1.6em;
  margin-bottom: 1.2em;
  margin-right:0.2em;
  border-radius:4px;
}

.home-custom-dot-inactive{
  background-color:darkgray;
}

@media screen and (max-width:450px) {
  .headBodyWrapperSub{
    height:260px;
  }

  .headBodyWrapperSub .headerTextContent h5{
    font-size:16px;
  }

  .headBodyWrapper{
    width: 100vw;
    height: 260px;
  }

  .headBodyWrapper h5{
    font-size: 20px;
    text-align: center;
  }

  .headerImageWrapper{
    width: 100vw;
    height: 260px;
  }

  .headerImageWrapper h5{
    font-size: 20px;
    text-align: center;
  }

  .hide-mobile{
    display: none !important;
  }
}

@media (max-width:960px) {
  .navbar-collapse{
    pointer-events: auto;
  }
  .navbar-collapse__holder {
    padding-top: 100px !important;
  }
  .custom-row{
    margin-right: 0px;
    margin-left: 0px;
  }
  .navbar-block{
    margin-right: 20px;
  }

  .brand-logos-section__title{
    font-size: 0.9rem;
  }

}


@media (min-width:960px) {
  .nav-item{
    font-weight: bold;
  }

  .text_image_block__description{
    position: relative;
    z-index: 4;
    padding: 20px;
    padding-top:55px;
    background-color: white;
    border-radius: 8px;
  }

  .text-image-block--content-right .text_image_block__description{
    padding-left: 40px;
    right: 10%;
    box-shadow: 6px 6px #ED1C24;
  }
  .text-image-block--content-right h3{
    text-align: left;
  }

  .text-image-block--content-left .text_image_block__description{
    padding-right: 40px;
    left: 10%;
    box-shadow: -6px 6px #ED1C24;
  }

  .text-image-block--content-left h3{
    text-align: right;
  }
}

.footer_infor{
  padding-top: 20px;
}

@media (min-width:960px) {
  .nav_animation{
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    padding: 0px !important;
  }
}

.nav_animation::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.nav_animation:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav_animation::before {
      background: #ED1C24;
    content: '';
    display: block;
    height: 7px;
    position: absolute;
    bottom: 5px;
    left: -5px;
    right: -5px;
    z-index: -1;
    transition: transform .3s ease;
}


.map{
  text-align: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


#uptocall-mini {
  position: fixed;
  bottom: 40px;
  left: 40px;
  cursor: pointer;
  z-index: 999;
}

#uptocall-mini .uptocall-mini-phone {
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(26, 255, 179, .5);
  width: 60px;
  height: 60px;
  -webkit-animation: uptocallmini 1.5s 0s ease-out infinite;
  -moz-animation: uptocallmini 1.5s 0s ease-out infinite;
  animation: uptocallmini 1.5s 0s ease-out infinite;
}

#uptocall-mini .uptocall-mini-phone div {
  position: absolute;
  margin-top:10%;
  margin-left:10%;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  font-size: 30px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  -webkit-animation: uptocallphone 1.5s linear infinite;
  -moz-animation: uptocallphone 1.5s linear infinite;
  animation: uptocallphone 1.5s linear infinite;
}

@-webkit-keyframes uptocallphone {
  0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  25% {
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
  }
  50% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  75% {
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
  }
  100% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
}

@-moz-keyframes uptocallphone {
  0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  25% {
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
  }
  50% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  75% {
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
  }
  100% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
}

@keyframes uptocallphone {
  0% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  25% {
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
  }
  50% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  75% {
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
  }
  100% {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
}

@-webkit-keyframes uptocallmini {
  0% {
      box-shadow: 0 0 8px 6px rgba(23, 167, 167, 0), 0 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px 0px rgba(23, 167, 167, 0);
  }
  10% {
      box-shadow: 0 0 8px 6px #1affb3, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px #1affb3;
  }
  100% {
      box-shadow: 0 0 8px 6px rgba(23, 167, 167, 0), 0 0 0px 35px rgba(0, 0, 0, 0), 0 0 0px 35px rgba(23, 167, 167, 0);
  }
}

@-moz-keyframes uptocallmini {
  0% {
      box-shadow: 0 0 8px 6px rgba(23, 167, 167, 0), 0 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px 0px rgba(23, 167, 167, 0);
  }
  10% {
      box-shadow: 0 0 8px 6px #1affb3, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px #1affb3;
  }
  100% {
      box-shadow: 0 0 8px 6px rgba(23, 167, 167, 0), 0 0 0px 35px rgba(0, 0, 0, 0), 0 0 0px 35px rgba(23, 167, 167, 0);
  }
}

@keyframes uptocallmini {
  0% {
      box-shadow: 0 0 8px 6px rgba(23, 167, 167, 0), 0 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px 0px rgba(23, 167, 167, 0);
  }
  10% {
      box-shadow: 0 0 8px 6px #1affb3, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px #1affb3;
  }
  100% {
      box-shadow: 0 0 8px 6px rgba(23, 167, 167, 0), 0 0 0px 35px rgba(0, 0, 0, 0), 0 0 0px 35px rgba(23, 167, 167, 0);
  }
}